.photo-grid__list{
    max-width: 1184px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}


@media (min-width: 1024px) and (max-width: 1279px){
    .photo-grid__list{
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .photo-grid__list{
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-gap: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .photo-grid__list{
        max-width: 320px;
        grid-template-columns: 288px;
        grid-gap: 12px;
    }
}