.intro__list{
    margin: 33px auto 0px;
    font-family: 'Inter-Bold';
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    align-self: start;
    list-style-type: none;
    padding: 0px;
}