:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.page{
    background-color: #2A2C2F;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: Inter;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media (min-width: 1024px) and (max-width: 1279px){
    .page{
        max-width: 1024px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .page{
        max-width: 768px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .page{
        max-width: 320px;
    }
}


@font-face {
  font-family: 'Inter-Regular';
  src: url(../vendor/fonts/Inter-Regular.woff),
  url(../vendor/fonts/Inter-Regular.woff2);
  font-style:  normal;
  font-weight: 400;
}/* ++++++++++++++++++++ */

@font-face {
    font-family: 'Inter-Bold';
    src: url(../vendor/fonts/Inter-Bold.woff),
    url(../vendor/fonts/Inter-Bold.woff2);
    font-style:  italic;
    font-weight: 700;
  }

@font-face {
    font-family: 'Inter-Black';
    src: url(../vendor/fonts/Inter-Black.woff),
    url(../vendor/fonts/Inter-Black.woff2);
    font-style:  normal;
    font-weight: 900;
  }/* ++++++++++++++++++++ */