.header{
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) and (max-width: 1023px){
    .header{
        max-width: 720px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .header{
        max-width: 320px;
        margin-top: 16px;
    }
}