.header__lang-container{
    align-self: flex-end;
    padding: 0;
    margin: 18px 0 6px 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 18px;
}

@media (min-width: 320px) and (max-width: 767px){
    .header__lang-container{
        margin: 14px 0x 8px 0;
    }
}