.header__lang-container{
    align-self: center;
    margin-right: 48px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 18px;
}

@media (min-width: 768px) and (max-width: 1023px){
    .header__lang-container{
        margin-right: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .header__lang-container{
        margin-right: 16px;
    }
}