.place__link{
    text-decoration: underline;
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.place__link:hover{
    text-decoration: underline;
}