.lead__caption{
    align-self: start;
    margin: 8px 0px 0px 0px;
    font-family: 'Inter-Regular';
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
}

@media (min-width: 768px) and (max-width: 1023px){
    .lead__caption{
        margin-left: 18px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .lead__caption{
        margin: 8px 0px 0px 16px;
    }
}