.intro__title{
    margin: 0;
    font-family: 'Inter-Black', 'Arial', 'Helvetica', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}

@media (min-width: 320px) and (max-width: 767px){
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
    }
}